.title {
    font-family: 'Gingham';
    font-size: 110px;
    color: #433E0E;
    text-align: center;
    width: 40%;
    position: absolute;
    top: 15px;
    left: 100px;
}

.headerImg {
    position: absolute;
    top: 15px;
    right: 100px;
    height: 40%;
    width: 50%;
}