.nav {
    /* position: absolute; */
    height: 100vh;
    width: 100vw;
}

.mobileNav{
    display: none;
}

a:link, a:visited {
    text-transform: uppercase;
    font-family: "Gingham";
    color: #EDEEC0;
}

a:hover {
    color: #433E0E;
}

.topleftcorner {
    border-color: transparent transparent transparent #A7A284;
    border-style: solid;
    border-width: 0px 0px 200px 200px;
    height: 0px;
    width: 0px;
    position: absolute;
    z-index: 1;
}

.toprightcorner {
    border-color: transparent #A7A284 transparent transparent;
    border-style: solid;
    border-width: 0px 200px 200px 200px;
    height: 0px;
    width: 0px;
    position: absolute;
    right:0;
    z-index: 1;
}

.bottomleftcorner {
    border-color: transparent transparent transparent #A7A284;
    border-style: solid;
    border-width: 200px 200px 0px 200px;
    height: 0px;
    width: 0px;
    position: absolute;
    bottom:0;
    left:0;
    z-index: 1;
}

.bottomrightcorner {
    border-color: transparent #A7A284 transparent transparent;
    border-style: solid;
    border-width: 200px 200px 0px 200px;
    height: 0px;
    width: 0px;
    position: absolute;
    bottom:0;
    right: 0;
    z-index: 1;
}

.home {
    position: absolute;
    top: 50px;
    left: 50px;
    transform: rotate(-45deg);
    z-index: 1;
    font-size: 1.3em;
}

.about {
    position: absolute;
    top: 50px;
    right: 50px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 1.3em;
}

.contact {
    position: absolute;
    bottom: 50px;
    right: 50px;
    transform: rotate(-45deg);
    z-index: 1;
    font-size: 1.3em;
}

.projects {
    position: absolute;
    bottom: 50px;
    left: 50px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 1.3em;
}

@media screen and (max-width: 580px){
    .mainNav {
        display: none;
    }

    .mobileNav{
        position: fixed;
        display: block;
        width: 100vw;
        height: 10%;
        background-color: #A7A284;
        z-index: 5;
    }
    
    .menu{
        width: 30%;
        text-align: center;
        margin: 0 auto;
        font-size: 60px;
        color: #EDEEC0;
    }
    
    .closed {
        height:0px;
        -webkit-transition:height, 0.5s linear;
        -moz-transition: height, 0.5s linear;
        -ms-transition: height, 0.5s linear;
        -o-transition: height, 0.5s linear;
        transition: height, 0.5s linear;
    }
    
    .open {
        display: block;
        position: relative;
        margin-top: -1px;
        width: 100vw;
        height: 165px;
        background-color: #433E0E;
        -webkit-transition:height, 0.5s linear;
        -moz-transition: height, 0.5s linear;
        -ms-transition: height, 0.5s linear;
        -o-transition: height, 0.5s linear;
        transition: height, 0.5s linear;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav ul li a {
        text-decoration: none;
        color: #EDEEC0;
    }

    .mobileLink {
        display:block;
        position: relative;
        text-align: center;
        padding: 10px;
    }

    .closed .mobileLink {
        display: none;
    }
      
}